@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&display=swap');

h1{
    font-family: 'Nunito', sans-serif;
    color: black;
}

body{
    font-family: 'Azeret Mono', monospace;
    background-image: url(../img/sma.jpg);
    background-size: cover;
    text-align: center;
    color: ivory;
  }

.banner-header{
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.lista{
    text-align: start;
    width: 20%;
    margin: auto;
}

#rodape {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: black;
}

